* {
  margin: 0;
  padding: 0;
}

ul.parent {
  display: flex;
  justify-content: center;
  background-color: gray;
}

ul.parent li {
  list-style: none;
}

ul.parent li a {
  height: 200px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
}

ul.parent li a:hover {
  color: red;
}

ul.parent li ul {
  display: none;
  height: 100px;
  width: 120px;
}

ul.parent li:hover ul {
  display: block;
}

.header {
  background-color: antiquewhite;
}

.header h1 {
  text-align: center;
}

.header h1:hover {
  color: red;
}

.header img {
  width: 100%;
  height: 400px;
}

.content .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .products li {
  list-style: none;
  position: relative;
  background-color: grey;
  width: 200px;
  height: 200px;
}

.content .products li h3 {
  text-align: center;
}

.content .products li h3:hover {
  color: antiquewhite;
}

.content .products li img {
  top: 40px;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50px;
}

.content .products li button {
  position: absolute;
  width: 100%;
  color: green;
  bottom: 0;
}

.content .products li button:hover {
  color: red;
  background-color: green;
}

.content .products li:hover {
  background-color: darkkhaki;
}
