* {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  background-color: white;
  height: 500px;
  width: 400px;
  border: 1px solid black;
  transform: translate(110%, 10%);
}

.content h1 {
  padding: 20px;
}

.content h2 {
  color: blue;
  padding: 10px;
}

.content h3 {
  left: 10px;
  margin-bottom: 40px;
  font-size: small;
  margin-left: 20px;
}

.content input {
  padding: 10px;
  margin: 10px;
  width: 365px;
}

.content p {
  margin-top: -10px;
  color: blue;
  padding: 10px;
}

.content .btn-1 {
  position: relative;
  border-radius: 20px;
  height: 50px;
  width: 300px;
  background-color: blue;
  color: white;
  margin: 10px;
  border: none;
  margin-left: 40px;
}

.content .btn-2 {
  position: relative;
  border-radius: 20px;
  height: 50px;
  width: 300px;
  background-color: white;
  color: black;
  margin: 10px;
  margin-left: 40px;
}

.content img {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 80px;
  bottom: 40px;
}

.content h5 {
  text-align: center;
}
